#include "resource.h"
#include <windows.h>

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 276, 180
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Capture Interval (seconds):", IDC_STATIC, 10, 10, 150, 10
    EDITTEXT        IDC_INTERVAL_EDIT, 160, 10, 100, 14, ES_AUTOHSCROLL
    LTEXT           "Image Size (%):", IDC_STATIC, 10, 40, 150, 10
    EDITTEXT        IDC_IMAGE_SIZE_EDIT, 160, 40, 100, 14, ES_AUTOHSCROLL
    LTEXT           "Image Quality:", IDC_STATIC, 10, 70, 150, 10
    CONTROL         "", IDC_QUALITY_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 160, 70, 100, 20
    PUSHBUTTON      "Save", IDC_SAVE_BUTTON, 50, 140, 50, 14
    PUSHBUTTON      "Cancel", IDC_CANCEL_BUTTON, 150, 140, 50, 14
END

IDI_WINDOWSSCREENLOGGERCPP ICON "icon.ico"
IDI_SMALL ICON "small.ico"
